<script type='text/javascript'>
    <% if(@parkings.length > 0) %>
        var userParkingId = <%= @parkings.first.id %>;
    <% end %>

</script>



<!-- header -->
<div class="row">
    <div class="col-md-4">
        <h1>Dude, where's my car?</h1>
    </div>
    <div class="col-md-7">
    </div>
    <div class="col-md-1">
        <a href='/logout'>Log out</a>
    </div>
</div>


<!-- container -->
<div class="row">
    <!-- google map display -->
    <div class="col-md-9" id="google-map"></div>

    <!-- right side column -->
    <div class="col-md-3">
        <div id="right-side">
            <div id="add-parking">
                pinpoint your car <br>
                <button class="start">Park</button><br>

                Time Meter:
                <input type="text" id="time-paid">
            </div>

                <div id="after-set-park" class="hideme">
                    <button class="track">Find my car</button><br>
                    Add more time:<br>
                    <input type="text" id="added-time">
                    <button id="increase-time">Add Time</button>
                    <button id="delete-time">Found Car</button>

                    <div id='time-left'>
                        <h3 id='timer'></h3>
                    </div>

                </div>

        </div>
    </div>
</div>