<a href='/logout'>Log out</a>
<h1>Hello You're logged in</h1>

<div class="row">
	
	<div class="col-md-9" id="map" style="width:800px;height:580px;"></div>


	<div class="col-md-3">
		<div id="right-side">
			pinpoint your car <br>
			<button class="start">Park</button><br>
			Time Meter:
			<input type="text" name="time-paid">
		</div>
		<div id="after-set-park" class="hideme">
			<button class="track">Find my car</button><br>
			Add more time:<br>
			<input type="text" name="added-time">
		</div>
	</div>

</div>




<div>
</div>