<a href='/logout'>Log out</a>
<h1>Hello You're logged in</h1>

<div id="map" style="width:1000px;height:680px;"></div>


<div class="right-side">
	pinpoint your car
</div>

<div id="after-set-park" class="hideme">
	
</div>


<div>
</div>