<a href='/logout'>Log out</a>
<h1>Hello You're logged in</h1>

<div id="map" style="width:1000px;height:680px;"></div>


<div class="right-side">
	pinpoint your car
	<button class="start">Park</button>
	Time Meter:
	<input type="text" name="time-paid">
</div>

<div id="after-set-park" class="hideme">
	<button class="track">Find my car</button>
	Add more time:
	<input type="text" name="added-time">
</div>




<div>
</div>