<form action='/users' method='POST'>
	<input type='hidden' name='authenticity_token' value='<%= form_authenticity_token %>' />
	Email: 
	<input type='text' name='email'>
	Password:
	<input type='password' name='password'>
	Phone Number:
	<input type='text' name='phone'>
	<button>Sign Up!</button>
</form>