<!-- just here so it doesn't break -->
<div class="hideme" id="google-map" style="width:800px;height:580px;"></div>


<!-- background image -->
<div class="welcome-background img-responsive hideme">

	<div class="container">

		<div class="row">
			<div class="login-container col-sm-offset-2 col-sm-8">

				<div id="login">
					<!-- login/signup button -->
					<div class="welcome-info">
						<h1><img src="/assets/caritlogo.png" class="main-logo"></h1>
						<h4 class="info-desc">Finding parking is not easy. Often times you have to park somewhere not familiar. With a click of a button, you'll always remember where your car is.</h4>
					</div>
					<div class="button-login">
						<div class="col-sm-offset-4 col-sm-4">
							<button class="btn btn-primary btn-block" id="main-start">Start</button>
						</div>
					</div>
				</div><!-- close showme login -->

				<div class="login-signup-form hideme">
					<div class="form-container">
						<div class="col-md-6">
							<div class="login-form">
								<h3>Log in</h3>
								<form action="/gettingin">
									Email:
									<input class="form-control" type="text" name="email" required><br>
									Password:
									<input class="form-control" type="password" name="password" required><br>
									<button class="btn btn-primary btn-block enter-in">Log In</button>
								</form>
							</div>
						</div>

						<div class="col-md-6">
							<div class="modal-signup">
								<h3>Sign Up</h3>
								<form action='/users' method='POST'>
									<input type='hidden' name='authenticity_token' value='<%= form_authenticity_token %>' />
									Email: 
									<input class="form-control" type='text' name='email' required><br>
									Password:
									<input class="form-control" type='password' name='password' required><br>
									Phone Number:
									<input class="form-control" type='text' name='phone' required><br>
									<button class="btn btn-primary btn-block">Sign Up!</button><br>
								</form>
							</div>	
						</div>
					</div>
				</div>

			</div> <!-- login-container -->
		</div>

	</div> <!-- close container -->
</div><!-- close backgrnd image -->